
// colors for entries:

.entry.color-red {border-left: 2px solid #F00;}
.entry.color-green {border-left: 2px solid $colorGreen;}
.entry.color-yellow {border-left: 2px solid $colorYellow;}
.entry.color-black {border-left: 2px solid #000;}
.entry.color-blue {border-left: 2px solid $colorBlue;}