{namespace hash5.templates.ui.MessageBox}

/**
 */
{template .box}
    <div class="message-box">
        <div class="btn-close"></div>
        <h3 class="message-title"></h3>
        <div class="message-text"></div>
        <div class="message-actions">
            <button class="btn primary btn-ok">{msg desc="ok button title"}OK{/msg}</button>
        </div>
    </div>
{/template}