

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1025px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 1024px) { @content; }
  }
  @else if $point == tablet_only {
    @media (min-width: 761px) and (max-width: 1024px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 760px)  { @content; }
  }
}

.desktop-only
{
    @include breakpoint(tablet){
        display: none;
    }
    @include breakpoint(mobile){
        display: none;
    }
}

.tablet-only
{
    @include breakpoint(desktop){
        display: none;
    }
    @include breakpoint(mobile){
        display: none;
    }
}

.mobile-only
{
    @include breakpoint(desktop){
        display: none;
    }
    @include breakpoint(tablet_only){
        display: none;
    }
}