
$colorBlackDark: #312F30;
$colorBlackLight: #5B5B5B;
$colorBlue: #0079C0;
$colorYellow: #E1B43D;
$colorRed: #DB5F55;
$colorGreen: #54B1A7;


$color-yellow: #f2b608;
$color-lighter-gray: #ebebeb;
$color-light-gray: #dedede;
$color-dark-gray: #3a3a3a;
$color-input-inactive: #777;