

$colorYellow: #FFCD34;
$colorOrange: #F7A42F;
$colorBlue: #2FA1A6;
$colorRed: #F7B455;
$colorGreen: #72A32E;
$colorGreen1: #1FBBA6;

$colorDarkGray: #3a3a3a;
$colorLightGray: #dedede;
$colorLighterGray: #ebebeb;

$color-input-inactive: #777;