
.helper-tile.calendar-tile
{
    .form-item, .form-item-control, .textbox
    {
        float: left;
    }
    .form-item-label
    {
        height: 1em;
    }

    .all-day-row
    {
        clear: both;
        margin-right: 20px;
    }

    .textbox
    {
        width: 95px;
        margin-right: 5px;
    }

    .hidden
    {
        display: none;
    }
}