
.image-preview
{
    position: fixed;
    padding: 5px;
    background: #fff;
    display: none;
    z-index: 2000;

    img
    {
        max-width: 200px;
        max-height: 200px;
    }

    &.visible
    {
        display: block;
    }
}