{namespace hash5.templates.ui.EntryListContainer}

/**
 * @param title title for the list
 */
{template .container}
    <div class="entry-list-container">
        <div class="entry-list-actions-btn"></div>
        <ul class="entry-list-actions">
            <li class="action-close">Schließen</li>
            <li class="action-save">Speichern</li>
            <li class="action-delete">Alle löschen</li>
        </ul>
        <h3>{$title}</h3>
    </div>
{/template}