{namespace hash5.templates.ui.LoginForm}

/**
 *
 */
{template .wrapper}
    <div class="login-form">
        <div class="hash5-logo">hash<span>5</span></div>
        <h2 class="registration-visible">
            Registrieren
        </h2>
        <div class="form-wrapper"></div>
        <button class="btn enabled primary btn-login">Login</button>
        <button class="btn enabled primary btn-register">Registrieren</button>
    </div>
{/template}