{namespace hash5.templates.ui.Settings}

/**
 *
 */
{template .wrapper}
    <div class="settings">
        <h2>Einstellungen</h2>
        <div class="form-wrapper"></div>
        <button class="btn enabled primary btn-save">Speichern</button>
        <button class="btn enabled primary btn-cancle">Abbrechen</button>
    </div>
{/template}