
.entry-list-container
{
    width: 300px;
    padding: 10px;
    padding-bottom: 0;
    float: left;
    @include box-sizing('border-box');

    @include breakpoint(mobile){
        float: none;
        width: 100%;
    }

    .entry-list-actions
    {
        float: right;
        padding-top: 5px;

        & > div
        {
            display: inline-block;
            width: 15px;
            height: 15px;
            cursor: pointer;

            &:hover
            {
                opacity: 0.6;
            }

        }
    }

    .action-close
    {
        background: $colorYellow;
    }

    h3
    {
        word-wrap: break-word;
    }
}

.entry-list
{
    overflow-y: auto;
    padding-top: 5px;
    @include box-sizing(border-box);

    li
    {
        margin-top: 5px;
        padding: 8px;
        background: #FFF;
        @include box-shadow(0 1px 0 1px #E4E6EB);
    }
}

.entry
{
    position: relative;


    .entry-actions
    {
        visibility: hidden;
        position: absolute;
        right: 0;

        &>a
        {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: $colorYellow;
            cursor: pointer;

            &:hover
            {
                opacity: 0.8;
            }
        }
    }
    &:hover .entry-actions
    {
        visibility: visible;
    }

    .entry-body
    {
        word-wrap: break-word;
    }
}

.entry-info
{
    margin-top: 5px;
}
.entry-date
{

    font-size: 70%;
}