
.entry-list-container
{
    width: 300px;
    padding: 10px;
    padding-bottom: 0;
    float: left;
    @include box-sizing('border-box');
    position: relative;

    @include breakpoint(mobile){
        float: none;
        width: 100%;
    }

    .entry-list-actions-btn
    {
        float: right;
        margin-top: 5px;
        visibility: hidden;
        @include resize-sprite($sprite, arrow, 50);
        cursor: pointer;
    }

    &:hover .entry-list-actions-btn // TODO .touch
    {
        visibility: visible;
    }

    .entry-list-actions
    {
        position: absolute;
        top: 30px;
        right: 30px;
        display: none;
        @include box-shadow(0 1px 0 1px #E4E6EB);
        z-index: 2;

        &.visible
        {
            display: block;
        }

        li
        {
            padding: 8px;
            cursor: pointer;
            background: #FFF;

            &:hover
            {
                background: $colorYellow;
            }

            &:before
            {
                content: '';
                display: inline-block;
                vertical-align: -3px;
                margin-right: 8px;
            }

        }
    }
    .action-close:before{@include resize-sprite($sprite, close, 50);}
    .action-save:before{@include resize-sprite($sprite, save, 50);}
    .action-delete:before{@include resize-sprite($sprite, trash, 50);}

    h3
    {
        word-wrap: break-word;
    }
}

.entry-list
{
    overflow-y: auto;
    padding-top: 5px;
    @include box-sizing(border-box);

    li
    {
        margin-top: 5px;
        padding: 8px;
        background: #FFF;
        @include box-shadow(0 1px 0 1px #E4E6EB);
    }
}

.entry
{
    position: relative;


    .entry-actions
    {
        visibility: hidden;
        position: absolute;
        right: 0;

        &>a
        {
            display: inline-block;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin-right: 5px;

            &:hover
            {
                opacity: 0.8;
            }
        }
    }
    &:hover .entry-actions
    {
        visibility: visible;
    }

    @include breakpoint(tablet){
        .entry-actions
        {
            visibility: visible;
        }
    }

    .action-edit
    {
        @include resize-sprite($sprite, edit, 50);
    }
    .action-delete
    {
        @include resize-sprite($sprite, trash, 50);
    }

    .entry-body
    {
        word-wrap: break-word;
        font-size: 90%;
    }
}

.entry-info
{
    margin-top: 5px;
}
.entry-date
{

    font-size: 70%;
}