
.login-form {
    position: absolute;
    left: 50%;
    top: 20%;
    @include transform(translate(-50%, 0));
    width: 100%;
    max-width: 400px;
    background: $colorBlue;
    padding: 20px;
    @include box-sizing(border-box);
    z-index: $overlayForegroundLevel + 1;

    &.hidden {
        opacity: 0;
        @include scale(0.4);
        @include transition(transform 0.8s, opacity 0.8s);
    }

    .hash5-logo {
        position: absolute;
        top: -50px;
        left: -50px;
        color: #000;

        span{color: #000;}

        @include breakpoint(mobile){
            left: 0;
        }
    }

    .register-wrapper {
        float: right;
        text-align: right;
    }

    .passw-rec-link {
        font-size: 80%;
    }
}

.pwd-rec-form {
    h2 {
        font-size: 32px;
    }
    .info-text {
        line-height: 1.2em;
    }
}