
.search-field {
    position: absolute;
    top: 5px;
    left: 200px;
    //width: 100%;
    //max-width: 400px;

    @include breakpoint(mobile){
        display: none;
        top: 50px;
        left: 0;
        max-width: 100%;
    }

    &.visible {
        display: block;
    }

    .ac-renderer {
        width: 100%;
        position: relative;
    }
}
.search-input .textbox {
    width: 400px;
    /*@include transition(width .3s);

    &:focus
    {
        width: 400px;
    }*/
}

.search-btn {
    position: absolute;
    right: 5px;
    top: 5px;

    border: 0;
    background: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;

    &:before {
        margin: 0;
    }
}

.search-helper {
    width: 100%;
    max-width: 400px;
    background: #fff;
    @include box-shadow(2px 2px 2px rgba(102, 102, 102, .4));

    h4 {
        font-size: 20px;
        font-weight: 300;
        padding: 10px;
        border-bottom: 2px solid;
    }

    .save-search {
        position: absolute;
        top: 5px;
        right: 10px;
    }

    .preview-holder {
        position: relative;
    }

    .short-search-error, .found-search-error {
        padding: 10px;
        font-size: 14px;
    }
}

