
.searchtree
{
    margin-top: 50px;
    border-top: 2px solid;
    padding-top: 10px;
    padding-left: 5px;

    @include breakpoint(tablet){
        display: none;
    }

    .edit-btns
    {
      display: inline-block;
      visibility: hidden;
      margin-left: 5px;
      position: absolute;

      & > span
      {
        display: inline-block;
        background: red;
        margin-left: 5px;

        &:hover
        {
          opacity: 0.6;
        }
      }
      .rename{@include resize-sprite($sprite, edit, 30);}
      .delete{@include resize-sprite($sprite, trash, 30);}
    }
    .focused .selected .edit-btns
    {
      visibility: visible;
    }
}
.visible .searchtree
{
    display: block;
}

.search-item-drag
{
  z-index: 99999;
  background: green;
}


.goog-tree-root:focus {
  outline: none;
}

.goog-tree-row {
  margin: 10px 0;
}

.goog-tree-row span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.goog-tree-children {

}

.goog-tree-icon {

}

.goog-tree-expand-icon {
  vertical-align: -2px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  @include transition(transform 0.8s);
}

.goog-tree-expand-icon-tplus, .goog-tree-expand-icon-lplus {
  width: 19px;
  @include resize-sprite($sprite, arrow, 50);
  @include rotate(-90deg);
}

.goog-tree-expand-icon-tminus, .goog-tree-expand-icon-lminus {
  width: 19px;
  @include resize-sprite($sprite, arrow, 50);
  @include rotate(0deg);
}

.search-link .goog-tree-item-label {
    color: $colorBlue;
    text-decoration: none;

    &:hover
    {
        text-decoration: underline;
    }
}

.goog-tree-item-label {
  margin-left: 3px;
  padding: 1px 2px 1px 2px;
  text-decoration: none;
  color: WindowText;
  cursor: default;

  max-width: 120px;
  display: inline-block;
}

.goog-tree-item-label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.selected .goog-tree-item-label {
  //background-color: ButtonFace;
  //color: ButtonText;
}

.focused .selected .goog-tree-item-label {
  background-color: Highlight;
  color: HighlightText;
}

.goog-tree-hide-root {
  display: none;
}
