
.search-field
{
    position: absolute;
    top: 5px;
    left: 200px;
    width: 100%;
    max-width: 400px;

    @include breakpoint(mobile){
        display: none;
        top: 50px;
        left: 0;
        max-width: 100%;
    }

    &.visible
    {
        display: block;
    }
}
.search-input
{
}

.search-btn
{
    position: absolute;
    right: 0;
    top: 5px;

    border: 0;
    background: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;

    &:before
    {
        margin: 0;
    }
}

.search-suggests
{
    position: absolute;
    top: 42px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);

    &.hidden
    {
        display: none;
    }

    li
    {
        padding: 8px;
        background: #FFF;
        margin: 3px;

        &:hover
        {
            background: $colorOrange;
        }
    }
}