
.search-tree-root {
  margin-top: 20px;
  margin-left: -5px;
}

.searchtree {
    //margin-top: 50px;
    //border-top: 2px solid;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 14px;

    @include breakpoint(tablet){
        display: none;

        .drag-element, .edit-icon {
          visibility: visible;
        }
    }

    .drag-element, .edit-icon {
      visibility: hidden;
    }
    .drag-element {
      position: absolute;
      left: 5px;
      top: 6px;
    }
    header {
      padding: 10px 4px;
      position: relative;
      @include box-sizing(border-box);
      border-left: 3px solid transparent;

      &:hover {
        border-left: 3px solid $colorYellow;
        background: #fff;

        .drag-element, .edit-icon {
          visibility: visible;
        }
      }
    }
    li header {padding-left: 18px;}
    li li header {padding-left: 37px;}
    li li li header {padding-left: 65px;}
    li li li li header {padding-left: 87px;}

    .last-folder {margin-bottom: 30px;}

    .search-tree-root > .folder-node-outer:last-of-type {
      margin-bottom: 30px;
    }

    .folder-node {
      background: $colorLighterGray;

      .title {
        font-weight: 600;
      }
    }

    .title {
      cursor: pointer;
    }
    .search-node  {
      .title {
        color: $colorBlue;
        margin: 0 20px;
        display: inline-block;
        line-height: 1.2em;
      }
      .icon-search {position: absolute;}
      .icon-search:before {
        margin-left: 0;
        font-size: 14px;
        color: $colorBlue;
      }
    }

    .sub-nodes {
      display: none;
      //@include transition(all 1s);
    }
    .collapsed > .sub-nodes {
      display: block;
    }

    .collapse-icon {
      cursor: pointer;

      &:before {
        display: inline-block;
        content: $iconArrowDownKey;
        font-family: $iconFontFamily;
        margin-right: 8px;
        @include rotate(-90deg);
        @include transition(all .6s);
      }

      &:hover {
        opacity: 0.8;
      }
    }
    .collapsed > .folder-node .collapse-icon:before {
      @include rotate(0);
    }

    .edit-icon {
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 30px;
      width: 30px;
      z-index: 12;

      i:before {
        margin: 8px;
        display: inline-block;
      }

      &:hover {
        color: $colorYellow;
      }
    }

    .edit-bar {
      max-height: 0;
      overflow: hidden;
      background: $colorGreen1;
      @include transition(all .6s);
      position: relative;

      .desc {
        display: block;
        padding: 8px;
      }

      & > div {
        padding: 4px;
        cursor: pointer;

        &:hover {
          color: #fff;
        }
      }
    }
    .edit-bar-visible {
      & > header .edit-icon {
        visibility: visible;
        background: $colorGreen1;
      }
      & > .edit-bar {
        max-height: 80px;
        padding: 5px;
      }
    }

    .drag-over {
      border: 2px solid red;
      background: rgba($colorYellow, 0.4);
    }
    .dragged {
      opacity: 0.6;
    }
    .root-node-dummy {
      height: 1em;
    }
}
.visible .searchtree {
    display: block;
}

.search-item-drag {
  z-index: 99999;
  background: $colorYellow;
  padding: 5px;
}