
body {
  height: 100%;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;

  //color: #fff;
  background: $bodyBg;
}



h2 {
  font-size: 35px;
  margin-bottom: 15px;

  @include breakpoint(mobile) {
    font-size: 28px;
  }
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.small {
  font-size: 80%;
}

#page {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  background: $bodyBg;
  //overflow: hidden;
}

.hidden {display: none;}

.clear {clear: both;}

.goog-inline-block {display: inline-block;}

.vers-number {
  position: fixed;
  bottom: 0;
  left: 0;
  background: $colorOrange;
  padding: 5px;
  z-index: 2000;
  font-size: 10px;

  @include breakpoint(mobile) {
    left: 50%;
      @include translate3d(-50%, 0, 0);
  }
}


a {
  text-decoration: none;
  color: $colorYellow;

  &:hover {
    color: $colorLightGray;
  }
}


.hash-link {
    color: $colorBlue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}