.form-item {
    margin-bottom: 14px;

    label {
        color: $colorDarkGray;
        display: block;
        margin-bottom: 2px;
        text-transform: uppercase;
    }
}

.form-item-label {
    margin-bottom: 5px;
}

.textbox, .goog-textarea, .textarea {
    background: #f5f5f5;
    @include box-sizing(border-box);
    border: 0px none;
    border-bottom: 1px solid #f5f5f5;
    height: 40px;
    padding: 2px 5px;
    width: 100%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;

    &::-webkit-input-placeholder {
        color: #ccc;
    }

    &:-moz-placeholder {
        color: #ccc;
    }
}

textarea.textbox {
    height: 100px;
    resize: vertical;
}

.goog-textarea {
    min-height: 60px;
}


.form-error {
    background: $colorYellow;
    @include box-sizing(border-box);
    color: $colorDarkGray;
    margin-bottom: 14px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 5px 0 5px;
    text-transform: uppercase;
    width: 100%;
    @include transition(opacity 1s, padding .5s, height .5s);

    @include breakpoint(mobile) {
        font-size: 14px;
    }

    &.visible {
        height: auto;
        opacity: 1;
        padding: 3px 5px 3px 5px;
    }

}

.btn {
    @include box-sizing(border-box);
    display: inline-block;
    @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.05));
    @include border-radius(2px);
    padding: 0 12px;
    margin: 0 3px 0 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    border: none;
    @include transition(all .2s);

    background-color: $colorLighterGray;
    color: #4b4b4b;

    &.primary {
        background-color: $colorGreen1;
        color: #fff;

        &:active, &:hover {
            background-color: rgba($colorGreen1, 0.8);
        }

    }

    &:active,
    &:hover {
        @include box-shadow(inset 0 -2px 0 rgba(0, 0, 0, 0.27));
    }

    &.disabled {
        color: #999;
        cursor: default;
    }
}

.form-item-checkbox {
    position: relative;

    .form-item-label {
        margin-left: 30px;
    }
    .form-item-control {
        position: absolute;
        left: 0;
        top: 0;
    }
}
.goog-checkbox {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    cursor: pointer;
    padding: 2px;
    border-radius: 3px;
    background: $colorLightGray;
    outline: none;

    &:hover {
        opacity: 0.8;
    }
}
.goog-checkbox-checked {
    background: $colorYellow;

    &:before {
        position: absolute;
        left: 0;
        top: -3px;
        content: '';
        width: 20px;
        height: 17px;
        background: transparent sprite($sprite, checkbox) no-repeat;
    }
}