
$headerHeight: 50px;

.page-header
{
    position: fixed;
    width: 100%;
    height: $headerHeight;
    background: $colorBlue;
    z-index: 10;
    @include box-shadow(0 2px 10px rgba(0, 0, 0, 0.2));
    // create new view layer
    @include translate3d(0,0,0);
    z-index: 1001;
}

.hash5-logo
{
    position: relative;
    float: left;
    padding-left: 20px;
    font-weight: 300;
    color: #FFF;
    font-size: 30px;
    line-height: 50px;

    span
    {
        position: absolute;
        bottom: -10px;
        font-weight: 600;
        font-size: 15px;
        color: $colorLighterGray;
    }
}


.sidebar-toggle-btn
{
    height: 20px;
    width: 28px;
    margin: 15px;
    margin-right: 0;
    float: left;

    // striped background:
    @include background(linear-gradient(#000 50%, rgba(255, 255, 255, 0) 50%));
    background-size: 8px 8px;
    color: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    @include breakpoint(desktop){
        display: none;
    }
}

.header-right-bar
{
    float: right;

    .action-item
    {
        position: relative;
        float: left;
        cursor: pointer;

        .toggle-icon
        {
            text-align: center;
            height: 30px;
            padding: 10px 15px;

            &:before
            {
                font-size: 22px;
                margin: 0;
            }
        }

        ul
        {
            display: none;
            position: absolute;
            top: 50px;
            right: 0;

            background: rgba(0,0,0,0.6);
        }
        &:hover, &.visible
        {
            background: rgba(0,0,0,0.4);
            ul {display: block;}
        }
        li
        {
            padding: 10px;
            color: #fff;
            white-space: nowrap;

            &:before
            {
                margin: 0 10px 0 0;
            }
            &:hover
            {
                background: $colorOrange;
            }
        }
    }
}