
$headerHeight: 50px;

header
{
    position: relative;
    width: 100%;
    height: $headerHeight;
    background: $colorBlue;
    z-index: 10;

    .logo
    {
        position: relative;
        padding-left: 20px;
        font-weight: 300;
        color: #FFF;
        font-size: 30px;
        line-height: 50px;

        span
        {
            position: absolute;
            bottom: -10px;
            font-weight: 600;
            font-size: 15px;
            color: $colorLighterGray;
        }
    }

    .right-bar
    {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.header-right-bar
{
    position: absolute;
    right: 10px;
    top: 10px;


    .settings-links
    {
        position: relative;

        .toggle-icon:before
        {
            font-size: 20px;
        }

        ul
        {
            display: none;
            position: absolute;
            top: 20px;
            right: 0;

            background: #fff;
        }
        &:hover, &.visible
        {
            ul {display: block;}

        }
    }
}

.sidebar-toggle-btn
{
    position: absolute;
    top: 3px;
    left: 3px;
    width: 32px;
    height: 32px;
    background: url('../img/icons/menu.png') no-repeat;

}