
.main-panel
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: $sidebarWidth;
    top: $headerHeight;
    @include box-sizing(border-box);

    @include breakpoint(tablet){
        left: $sidebarTabletWidth;
    }
    @include breakpoint(mobile){
        left: 0;
    }
}


.list-view
{
    white-space: nowrap;
    height: 100%;
    overflow: auto;
}