
.main-panel
{
    position: relative;
    height: 100%;
    padding-left: $sidebarWidth;
    padding-top: $headerHeight;
    @include box-sizing(border-box);

    @include breakpoint(tablet){
        padding-left: $sidebarTabletWidth;
    }
    @include breakpoint(mobile){
        padding-left: 0;
    }
}