
.noscript-error
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $colorYellow;
    z-index: 999999999;

    .text
    {
        margin: auto;
        width: 100%;
        max-width: 500px;
        margin-top: 30px;
    }
}