
// custom scrollbars (for webkit only)

::-webkit-scrollbar
{
    height: 12px;
    width: 12px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button
{
    height: 0;
    width: 0
}

::-webkit-scrollbar-thumb
{
    background-clip: padding-box;
    background-color: rgba(0,0,0,.3);
    border: 3px solid transparent;
    border-radius: 10px;
    height: 3px;
    width: 3px;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active
{
    border-width: 2px;
    background-color:rgba(0,0,0,.5);
}