
$sidebarWidth: 250px;
$sidebarTabletWidth: 50px;

.page-sidebar {
    position: fixed;
    top: 0;
    width: $sidebarWidth;
    height: 100%;
    background: $colorLightGray;
    padding-top: $headerHeight + 20px;
    @include box-sizing(border-box);
    // create new view layer
    @include translate3d(0,0,0);
    z-index: 1000;


    // responsive:
    @include breakpoint(mobile){
        @include translate3d(-100%, 0, 0);
    }
    @include breakpoint(tablet){
        width: $sidebarTabletWidth;
        .main-nav li span {
            display: none;
        }
    }

    &.visible {
        @include translate3d(0, 0, 0);
        width: $sidebarWidth;
        .main-nav li span {
            display: inline;
        }
    }
}

.main-nav {
    li {
        padding: 5px 10px;

        &:before {
            margin: 0 5px;;
        }
    }
}