{namespace hash5.templates.SearchTree}

/**
 *
 */
{template .wrapper}
    <div>
        <div class="btn add-folder-btn tooltip" data-tooltip="{msg desc="add folder button"}Add Folder{/msg}">+</div>
        <div class="btn newest-entries-btn">{msg desc="newest entries add button"}Latest entries{/msg}</div>
    </div>
{/template}