
@import 'tooltip';

.intro-layer
{
    position: absolute;
    top: 100px;
    left: 50%;
    @include translate3d(-50%, 0, 0);
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    z-index: $overlayForegroundLevel + 1;

    .btn {margin-top: 25px;}
    .right {float: right;}

    .intro-text {line-height: 1.3; font-size: 95%;}
}