{namespace hash5.templates.ListView}

/**
 *
 */
{template .wrapper}
    <div class="view list-view"></div>
{/template}

/**
 *
 */
{template .switcher}
    <div class="entry-list-switcher">
        <span class="left-btn"></span>
        <span class="right-btn"></span>
    </div>
{/template}