{namespace hash5.templates.Settings}

/**
 *
 */
{template .wrapper}
    <div class="settings">
        <h2>{msg desc="settings modal heading"}Settings{/msg}</h2>
        <div class="form-wrapper"></div>
        <button class="btn enabled primary btn-save">{msg desc="settings modal save btn"}Save{/msg}</button>
        <button class="btn enabled primary btn-cancel">{msg desc="settings modal cancel btn"}Cancel{/msg}</button>
    </div>
{/template}